body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: normal;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bio-content {
  max-width: 60%;
}

.bio-content h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.bio-content p {
  line-height: 1.6;
}

.bio-image {
  max-width: 35%;
}

.bio-image img {
  width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

footer a {
  color: #666;
  text-decoration: none;
}

img{  
  display: block;
  margin-left: 10;
  margin-right: ;
}