body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

/* Biografia */
.biografia-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.biografia-container img {
    max-width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 8px;
}

.biografia-texto {
    flex: 1;
}

/* Estilos específicos para o currículo */
.curriculo-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.curriculo-imagem {
    max-width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.curriculo-texto {
    flex: 1;
}

.curriculo-section {
    width: 100%;
}

.curriculo-section h2 {
    margin-bottom: 10px;
    color: #333;
}

.curriculo-section p {
    line-height: 1.6;
}

.link-certificado {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-certificado:hover {
    background-color: #0056b3;
}

/* Estilos específicos para o portfólio */
.portfolio-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.portfolio-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.portfolio-card h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.portfolio-card p {
    line-height: 1.6;
}

.portfolio-card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.portfolio-card a:hover {
    background-color: #0056b3;
}

/* Estilos para o menu de navegação entre abas */
.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px; /* Ponto e vírgula adicionado aqui */
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #ccc;
}

/* Estilos para as diferentes seções do portfólio */
.portfolio-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-card {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.portfolio-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.portfolio-card h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.portfolio-card p {
    line-height: 1.6;
}

.portfolio-card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.portfolio-card a:hover {
    background-color: #0056b3;
}

/* Portfolio imagens com link */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espaçamento entre as imagens */
}

.image-gallery a {
    display: block;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-gallery a:hover {
    transform: scale(1.05);
}

.image-gallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .image-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Estilos do modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 80%;
}

.modal-content img {
    width: 100%;
    height: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.linkportfolio{
    color: blue;
}